<!-- main app container -->
<div class="jumbotron">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <div *ngFor="let message of messages" class="alert alert-success">{{message.text}}</div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="http://jasonwatmore.com/post/2019/02/07/angular-7-communicating-between-components-with-observable-subject" target="_top">Angular 7 - Communicating Between Components with Observable & Subject</a>
    </p>
    <p>
        <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p>
</div>